<!-- Interpolation: {{}} -->
<h2>Welcome to {{ hotelName }}</h2>

<!-- Property binding -->
<div [hidden]="hideRooms">
  <h3>No of rooms :</h3>
  <h4 [innerText]="noOfRooms"></h4>
</div>

<!-- Event binding -->
<button (click)="toggle()">Rooms</button>

<!-- ngIf -->
<div [ngStyle]="{ 'color': 'red'}" *ngIf="room.availableRooms > 0">
  <h2>No. of rooms available - {{ room.availableRooms }}</h2>
</div>

<!-- optional chaining -->
{{ room.bookedRooms < 13 ? "Many rooms available" : null }}

<!-- <ol>
   <li>{{roomsList[0]}}</li>
   <li>{{roomsList[1]}}</li>
</ol> -->

<!-- ngFor -->
<div>
  <table style="padding: 17px; margin: 12px">
    <thead>
      <tr style="padding: 12px; margin: 15px">
        <th style="padding: 12px; margin: 15px">Index</th>
        <th style="padding: 12px; margin: 15px">Even/Odd</th>
        <th style="padding: 12px; margin: 15px">Room Type</th>
        <th style="padding: 12px; margin: 15px">Amenities</th>
        <th style="padding: 12px; margin: 15px">Price</th>
        <th style="padding: 12px; margin: 15px">Check-In</th>
      </tr>
    </thead>
    <tbody>
      <tr
      [ngClass]="e ?'even' :'odd' "
       *ngFor="let room of roomsList; let e=even; let o=odd; let i=index">
       <td style="padding: 12px; margin: 15px">{{i}}</td>
       <td style="padding: 12px; margin: 15px">{{e ? "Even":"Odd"}}</td>
        <td style="padding: 12px; margin: 15px">{{ room.roomType | titlecase }}</td>
        <td style="padding: 12px; margin: 15px">{{ room.amenities | lowercase}}</td>
        <td style="padding: 12px; margin: 15px">{{ room.price | currency:'INR'}}</td>
        <td style="padding: 12px; margin: 15px">{{ room.checkIn | date }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div style="padding: 10px; margin: 10px; background-color: burlywood; text-decoration-color: black;">{{roomsList |json}}</div>

<!-- <app-root></app-root> -->